* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.navbar {
    background-color: #333;
    color: white;
    padding:0.5rem  2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo img {
    width: 150px;
}

.navbar .nav-links {
    list-style: none;
    display: flex;
}

.navbar .nav-links li {
    margin-left: 20px;
}
.navbar .nav-links li :hover {
    color: yellow;
    font-weight: 400;
    transition: color 0.3s ease, font-weight 0.3s ease;
}

.navbar .nav-links a {
    color: white;
    text-decoration: none;
}


.banner {
    background: url('https://i.ibb.co.com/gtnVwYF/bunch-black-friday-gifts-golden-shopping-cart-with-copy-space.jpg');
    background-size: cover;
    height: 90vh;
    display: flex;
    justify-content: end;
    align-items: center;
    text-align: center;
}

.banner-content h1 {
    font-size: 3rem;
    color: yellow;
}

.banner-content p {
    font-size: 1.5rem;
    color: yellow;
}
.banner-content button {
    margin-top: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0.5rem 2rem;
    border-radius: 2rem;
    border: none;
    cursor: pointer;
    background-color: #333;
    color: #ffff;
}
.banner-content button:hover {
    transition: all 0.4s ease-in-out;
   background-color: yellow;
   color: black;
}






@media (min-width: 768px) {
    .navbar .logo img {
        width: 200px;
    }
    .banner {
        padding-right: 4rem;
    }
}
@media (min-width: 1024px) {
    .navbar .logo img {
        width: 250px;
    }
}

